CREATE TABLE IF NOT EXISTS "roles" (
    role_id INTEGER PRIMARY KEY AUTOINCREMENT,
    role_name TEXT NOT NULL UNIQUE,
    description TEXT
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "specialties" (
    specialty_id INTEGER PRIMARY KEY AUTOINCREMENT,
    specialty_name TEXT NOT NULL UNIQUE
);
CREATE TABLE IF NOT EXISTS "user_roles" (
    user_id INTEGER NOT NULL,
    role_id INTEGER NOT NULL, is_primary BOOLEAN DEFAULT 0,
    PRIMARY KEY (user_id, role_id),
    FOREIGN KEY (user_id) REFERENCES "users"(user_id),
    FOREIGN KEY (role_id) REFERENCES "roles"(role_id)
);
CREATE TABLE IF NOT EXISTS "region_providers" (
    region_id INTEGER NOT NULL,
    provider_id INTEGER NOT NULL, outside_provider_regions BOOLEAN DEFAULT FALSE,
    PRIMARY KEY (region_id, provider_id),
    FOREIGN KEY (region_id) REFERENCES "regions"(region_id),
    FOREIGN KEY (provider_id) REFERENCES "providers"(provider_id)
);
CREATE TABLE IF NOT EXISTS "provider_specialties" (
    provider_id INTEGER NOT NULL,
    specialty_id INTEGER NOT NULL,
    PRIMARY KEY (provider_id, specialty_id),
    FOREIGN KEY (provider_id) REFERENCES "providers"(provider_id),
    FOREIGN KEY (specialty_id) REFERENCES "specialties"(specialty_id)
);
CREATE TABLE IF NOT EXISTS "patient_assignments" (
    assignment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    patient_id INTEGER NOT NULL,
    provider_id INTEGER NOT NULL,
    coordinator_id INTEGER NOT NULL,
    assignment_date TEXT,
    assignment_type TEXT,
    status TEXT,
    priority_level TEXT,
    notes TEXT,
    created_date TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_date TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    created_by INTEGER,
    updated_by INTEGER, initial_tv_provider_id INTEGER, recommended_provider_id INTEGER,
    FOREIGN KEY (patient_id) REFERENCES "patients"(patient_id),
    FOREIGN KEY (provider_id) REFERENCES "providers"(provider_id),
    FOREIGN KEY (coordinator_id) REFERENCES "coordinators"(coordinator_id),
    FOREIGN KEY (created_by) REFERENCES "users"(user_id),
    FOREIGN KEY (updated_by) REFERENCES "users"(user_id)
);
CREATE TABLE IF NOT EXISTS "insurance_eligibility_records" (
    record_id INTEGER PRIMARY KEY AUTOINCREMENT,
    task_id INTEGER UNIQUE NOT NULL,
    eligibility_status TEXT NOT NULL,
    coverage_start_date TEXT,
    coverage_end_date TEXT,
    confirmation_number TEXT,
    notes TEXT,
    checked_on_date TEXT NOT NULL,
    FOREIGN KEY (task_id) REFERENCES "prod_tasks_backup"(task_id)
);
CREATE TABLE IF NOT EXISTS "SOURCE_PATIENT_DATA" (
	"Pt Status"	TEXT,
	"Pt Name"	TEXT,
	"LAST FIRST DOB"	TEXT,
	"Last"	TEXT,
	"First"	TEXT,
	"DOB"	TEXT,
	"Contact Name"	TEXT,
	"Phone"	TEXT,
	"Street"	TEXT,
	"City"	TEXT,
	"State"	TEXT,
	"Zip"	TEXT,
	"Fac"	TEXT,
	"Rep(s)"	TEXT,
	"Ins1"	TEXT,
	"Policy"	TEXT,
	"Region"	TEXT,
	"Initial TV Prov"	TEXT,
	"Recommended Reg Prov"	TEXT,
	"Assigned Reg Prov"	TEXT,
	"Assigned CM"	TEXT,
	"BCD Correct Name"	TEXT,
	"Row"	REAL,
	"Trigger"	REAL,
	"Status"	TEXT,
	"List"	TEXT,
	"eMed Chart Created Y/N"	TEXT,
	"Trigger.1"	REAL,
	"Status.1"	TEXT,
	"List.1"	TEXT,
	"Prescreen Call Notes"	TEXT,
	"eMed Intake Form Y/N"	TEXT,
	"Initial TV Date"	TEXT,
	"Trigger.2"	REAL,
	"Status.2"	TEXT,
	"List.2"	TEXT,
	"eMed Records Routing Notes"	TEXT,
	"Trigger.3"	REAL,
	"Status.3"	TEXT,
	"List.3"	TEXT,
	"Initial TV Notes"	TEXT,
	"TV Note"	TEXT,
	"CM Notified"	TEXT,
	"Trigger.4"	REAL,
	"Status.4"	TEXT,
	"List.4"	TEXT,
	"Schedule HV 2w Notes"	TEXT,
	"Initial HV Date"	TEXT,
	"Trigger.5"	REAL,
	"List.5"	TEXT,
	"General Notes"	TEXT,
	"Next Visit"	TEXT,
	"Previous Visit 1"	TEXT
);
CREATE TABLE IF NOT EXISTS "users" (
    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    phone TEXT,
    status TEXT NOT NULL,
    hire_date TEXT,
    termination_date TEXT,
    max_patients INTEGER,
    performance_rating REAL,
    created_date TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_date TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP
, full_name TEXT, password TEXT DEFAULT 'pass123', username TEXT, last_login TEXT);
CREATE TABLE IF NOT EXISTS "SOURCE_STAFF_INFO" (
"First NAme [Required]" TEXT,
  "Last NAme [Required]" TEXT,
  "Email Address [Required]" TEXT,
  "Status [READ ONLY]" TEXT,
  "Primary ROLE" TEXT,
  "Description" TEXT,
  "Secondary Role" TEXT,
  "Description.1" TEXT
);
CREATE TABLE IF NOT EXISTS "providers" (
    provider_id INTEGER PRIMARY KEY,
    user_id INTEGER NOT NULL,
    role_id INTEGER NOT NULL,
    first_name TEXT,
    last_name TEXT,
    email TEXT,
    FOREIGN KEY (user_id) REFERENCES "users"(user_id),
    FOREIGN KEY (role_id) REFERENCES "roles"(role_id)
);
CREATE TABLE IF NOT EXISTS "coordinators" (
    coordinator_id INTEGER PRIMARY KEY,
    user_id INTEGER NOT NULL,
    role_id INTEGER NOT NULL,
    first_name TEXT,
    last_name TEXT,
    email TEXT,
    FOREIGN KEY (user_id) REFERENCES "users"(user_id),
    FOREIGN KEY (role_id) REFERENCES "roles"(role_id)
);
CREATE TABLE IF NOT EXISTS "facilities" (
	"facility_id"	INTEGER,
	"facility_name"	TEXT NOT NULL UNIQUE, address TEXT, phone TEXT, email TEXT, created_date TIMESTAMP,
	PRIMARY KEY("facility_id" AUTOINCREMENT)
);
CREATE TABLE IF NOT EXISTS "task_billing_codes" (
    code_id INTEGER PRIMARY KEY AUTOINCREMENT,
    task_description TEXT,
    service_type TEXT,
    location_type TEXT,
    patient_type TEXT,
    min_minutes INTEGER,
    max_minutes INTEGER,
    billing_code TEXT NOT NULL,
    description TEXT,
    rate DECIMAL(10,2),
    effective_date TEXT NOT NULL,
    expiration_date TEXT,
    created_date TEXT NOT NULL DEFAULT (datetime('now'))
);
CREATE TABLE staff_code_mapping (
    staff_code TEXT PRIMARY KEY,
    user_id INTEGER,
    confidence_level TEXT CHECK (confidence_level IN ('HIGH', 'MEDIUM', 'LOW', 'UNMATCHED')),
    mapping_type TEXT CHECK (mapping_type IN ('PROVIDER', 'COORDINATOR', 'SPECIAL_CASE')),
    notes TEXT,
    created_date TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES "users"(user_id)
);
CREATE TABLE unmatched_patient_names (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    source_table TEXT NOT NULL,
    patient_name TEXT NOT NULL,
    occurrence_count INTEGER DEFAULT 1,
    first_seen DATETIME DEFAULT CURRENT_TIMESTAMP,
    last_seen DATETIME DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE sqlite_stat1(tbl,idx,stat);
CREATE TABLE unmatched_tasks_analysis (
    unmatched_id INTEGER PRIMARY KEY AUTOINCREMENT,
    source_table TEXT NOT NULL,
    patient_name_raw TEXT,
    patient_name_cleaned TEXT,
    staff_name TEXT,
    staff_type TEXT, -- 'coordinator' or 'provider'
    task_date TEXT,
    task_type TEXT,
    service_code TEXT,
    notes TEXT,
    reason_unmatched TEXT, -- 'missing_patient', 'missing_staff', 'invalid_data'
    provider_info TEXT, -- Additional provider details for reporting
    coordinator_info TEXT, -- Additional coordinator details for reporting
    created_date TEXT DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE IF NOT EXISTS "patients_backup"(
  patient_id INT,
  region_id INT,
  first_name TEXT,
  last_name TEXT,
  date_of_birth TEXT,
  gender TEXT,
  phone_primary TEXT,
  phone_secondary TEXT,
  email TEXT,
  address_street TEXT,
  address_city TEXT,
  address_state TEXT,
  address_zip TEXT,
  emergency_contact_name TEXT,
  emergency_contact_phone TEXT,
  emergency_contact_relationship TEXT,
  insurance_primary TEXT,
  insurance_policy_number TEXT,
  insurance_secondary TEXT,
  medical_record_number TEXT,
  status TEXT,
  enrollment_date TEXT,
  discharge_date TEXT,
  notes TEXT,
  created_date TEXT,
  updated_date TEXT,
  created_by INT,
  updated_by INT,
  current_facility_id INT,
  hypertension INT,
  mental_health_concerns INT,
  dementia INT,
  last_annual_wellness_visit TEXT,
  last_first_dob TEXT
);
CREATE INDEX idx_users_email ON "users"(email);
CREATE INDEX idx_providers_user ON "providers"(user_id);
CREATE INDEX idx_coordinators_user ON "coordinators"(user_id);
CREATE INDEX idx_staff_code_mapping_code ON staff_code_mapping(staff_code);
CREATE INDEX idx_staff_code_mapping_user_id ON staff_code_mapping(user_id);
CREATE INDEX idx_prod_patient_assignments_patient_id ON "patient_assignments"(patient_id);
CREATE INDEX idx_prod_coordinators_coordinator_id ON "coordinators"(coordinator_id);
CREATE INDEX idx_unmatched_patient_names_source ON unmatched_patient_names(source_table);
CREATE INDEX idx_unmatched_patient_names_name ON unmatched_patient_names(patient_name);
CREATE INDEX idx_unmatched_source ON unmatched_patient_names(source_table);
CREATE INDEX idx_unmatched_name ON unmatched_patient_names(patient_name);
CREATE INDEX idx_prod_task_billing_codes_lookup 
ON "task_billing_codes" (billing_code, rate);
CREATE TRIGGER update_users_timestamp 
    AFTER UPDATE ON "users"
    BEGIN
        UPDATE "users" SET updated_date = datetime('now') WHERE user_id = NEW.user_id;
    END;
CREATE TRIGGER update_providers_timestamp 
    AFTER UPDATE ON "providers"
    BEGIN
        UPDATE "providers" SET updated_date = datetime('now') WHERE provider_id = NEW.provider_id;
    END;
CREATE TRIGGER update_coordinators_timestamp 
    AFTER UPDATE ON "coordinators"
    BEGIN
        UPDATE "coordinators" SET updated_date = datetime('now') WHERE coordinator_id = NEW.coordinator_id;
    END;
CREATE TABLE SOURCE_PROVIDER_REGION_COVERAGE(
  "ZEN LIST OF PROVIDERS" TEXT,
  UNASSIGNED TEXT,
  Malhotra TEXT,
  Andrew TEXT,
  Ethel TEXT,
  Albert TEXT,
  Lourdes TEXT,
  Anisha TEXT,
  Jaspreet TEXT,
  Genevieive REAL,
  "Unnamed: 10" TEXT,
  Eden REAL,
  Ugochi REAL,
  "Unnamed: 13" TEXT,
  Angela TEXT,
  "Unnamed: 15" TEXT
);
CREATE TABLE SOURCE_REGION_ZIP_CODES(
  Region TEXT,
  City TEXT,
  "ZIP Codes" TEXT,
  "Unnamed: 3" TEXT,
  "Region.1" TEXT,
  "City.1" TEXT,
  "ZIP Codes.1" TEXT,
  "Unnamed: 7" TEXT,
  "Region.2" TEXT,
  "City.2" TEXT,
  "ZIP Codes.2" TEXT,
  "Unnamed: 11" TEXT,
  "Region.3" TEXT,
  "City.3" TEXT,
  "ZIP Codes.3" TEXT,
  "SCC LIST OF PROVIDERS" TEXT,
  UNASSIGNED TEXT,
  Malhotra TEXT,
  Anisha TEXT,
  Ethel TEXT,
  "Unnamed: 14" TEXT,
  "Unnamed: 15" TEXT,
  "Region.4" TEXT,
  "City.4" TEXT,
  "ZIP Codes.4" TEXT
);
CREATE TABLE SOURCE_TASKS_AND_CODES(
  tasks TEXT,
  "Code(s)" TEXT,
  role TEXT
);
CREATE TABLE SOURCE_PROVIDER_TASKS_HISTORY (

	"1" INT,

	Prov TEXT,

	Coding TEXT,

	"Billed Date 
Notes" REAL,

	"Patient Last, First DOB" TEXT,

	DOS TEXT,

	Service TEXT,

	Minutes TEXT,

	Hospice TEXT,

	"Paid by
Patient" REAL,

	Notes TEXT,

	"WC Size 
(sqcm)" TEXT,

	"WC Diagnosis (HH-OK to free type)" TEXT,

	"Graft Info" TEXT,

	"Wound#" REAL,

	"Session#" REAL,

	"Multiple
Grafts" TEXT,

	"EHR Check Status" TEXT,

	"EHR Chief Complaint" TEXT,

	"EHR Assessment Dx" TEXT,

	"EHR
AMC Staff Initials" TEXT,

	"EHR
Note Filename" TEXT,

	"EHR
AMC Note Status" TEXT,

	"EHR
Notes" TEXT,

	"Check Patient Dropdown" TEXT,

	"Billing Status" TEXT,

	"Patient Last, First DOB.1" TEXT,

	"Case Pers
Description" TEXT,

	"Case Misc
Local Use B" REAL,

	"ChargeLine
DOS" TEXT,

	"ChargeLine
RendProv$" TEXT,

	"ChargeLine
Procedure(s)" TEXT,

	"ChargeLine
Modifier(s)" TEXT,

	"ChargeLine
Units" REAL,

	"ChargeLine
Amount" REAL,

	"ChargeLine
Total" REAL,

	"ChargeLine
Prov" TEXT,

	"ChargeLine
POS" REAL,

	"ChargeLine
Fac" TEXT,

	"ChargeLine
WC Dx" TEXT,

	"ChargeLine
Primary Dx" TEXT,

	"ChargeLine
Dx(s)" TEXT,

	"Claim#" REAL,

	"Date Billed" REAL,

	"Notes.1" TEXT,

	"Billed
Amount" REAL,

	"CL Prov
Override" TEXT,

	"CL Prov
Manual" REAL

);
CREATE TABLE IF NOT EXISTS "SOURCE_COORDINATOR_TASKS_HISTORY" (
"Staff" TEXT,
  "Pt Name" TEXT,
  "Type" TEXT,
  "Date Only" TEXT,
  "Notes" TEXT,
  "Start Time B" TEXT,
  "Stop Time B" TEXT,
  "Mins B" REAL,
  "Current" TEXT,
  "NotZEN" TEXT,
  "Invalid Date/Time" TEXT,
  "Invalid Patient Dropdown" TEXT,
  "Start Time A" TEXT,
  "Stop Time A" TEXT
);
CREATE TABLE workflow_templates (
    template_id INTEGER PRIMARY KEY AUTOINCREMENT,
    template_name TEXT NOT NULL UNIQUE
);
CREATE TABLE workflow_steps (
    step_id INTEGER PRIMARY KEY AUTOINCREMENT,
    template_id INTEGER NOT NULL,
    step_order INTEGER NOT NULL,
    task_name TEXT NOT NULL,
    owner TEXT,
    deliverable TEXT,
    cycle_time TEXT,
    FOREIGN KEY (template_id) REFERENCES workflow_templates(template_id)
);
CREATE TABLE workflow_instances (
    instance_id INTEGER PRIMARY KEY AUTOINCREMENT,
    template_id INTEGER NOT NULL,
    status TEXT NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (template_id) REFERENCES workflow_templates(template_id)
);
CREATE TABLE IF NOT EXISTS "tasks"(
  task_id INT,
  patient_name TEXT,
  patient_id TEXT,
  user_id TEXT,
  full_name TEXT,
  staff_code TEXT,
  role_id INT,
  task_date TEXT,
  start_time TEXT,
  stop_time TEXT,
  task_type TEXT,
  duration_minutes INT,
  service_code TEXT,
  notes TEXT,
  task_state TEXT
, task_description TEXT);
CREATE TABLE coordinator_billing_codes (
    code_id INTEGER PRIMARY KEY AUTOINCREMENT,
    billing_code TEXT UNIQUE NOT NULL,
    description TEXT,
    min_minutes INTEGER,
    max_minutes INTEGER
);
CREATE TABLE IF NOT EXISTS "daily_tasks" (
    daily_task_id INTEGER PRIMARY KEY AUTOINCREMENT,
    task_description TEXT,
    service_type TEXT,
    description TEXT,
    coordinator_id INTEGER,
    patient_id INTEGER,
    task_date DATE,
    duration_minutes INTEGER,
    notes TEXT,
    created_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE IF NOT EXISTS "user_patient_assignments" (user_id INTEGER NOT NULL, patient_id INTEGER NOT NULL, role_id INTEGER NOT NULL, PRIMARY KEY (user_id, patient_id, role_id), FOREIGN KEY (user_id) REFERENCES "users" (user_id), FOREIGN KEY (patient_id) REFERENCES "patients" (patient_id), FOREIGN KEY (role_id) REFERENCES "user_roles" (role_id));
CREATE TABLE care_plans (
                patient_name TEXT PRIMARY KEY,
                plan_details TEXT,
                updated_by TEXT,
                last_updated TIMESTAMP DEFAULT CURRENT_TIMESTAMP
            );
CREATE TABLE IF NOT EXISTS "regions" (
                region_id INTEGER PRIMARY KEY AUTOINCREMENT,
                zip_code TEXT,
                city TEXT,
                state TEXT,
                county TEXT,
                status TEXT NOT NULL DEFAULT 'active',
                created_date TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
                updated_date TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP
            );
CREATE TABLE provider_zip_summary (
    summary_id INTEGER PRIMARY KEY AUTOINCREMENT,
    provider_id INTEGER NOT NULL,
    zip_code TEXT NOT NULL,
    city TEXT,
    state TEXT,
    patient_count INTEGER DEFAULT 0,
    region_count INTEGER DEFAULT 0,
    created_date TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (provider_id) REFERENCES providers(provider_id)
);
CREATE TABLE dashboard_provider_monthly_summary (
    summary_id INTEGER PRIMARY KEY AUTOINCREMENT,
    provider_id INTEGER NOT NULL,
    month INTEGER NOT NULL,
    year INTEGER NOT NULL,
    total_tasks_completed INTEGER DEFAULT 0,
    total_time_spent_minutes INTEGER DEFAULT 0,
    average_task_completion_time_minutes REAL DEFAULT 0.0,
    total_patients_served INTEGER DEFAULT 0,
    max_patients_allowed INTEGER DEFAULT 60,
    patients_assigned INTEGER DEFAULT 0,
    created_date TEXT DEFAULT CURRENT_TIMESTAMP,
    updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (provider_id) REFERENCES providers(provider_id)
);
CREATE TABLE dashboard_coordinator_monthly_summary (
    summary_id INTEGER PRIMARY KEY AUTOINCREMENT,
    coordinator_id INTEGER NOT NULL,
    month INTEGER NOT NULL,
    year INTEGER NOT NULL,
    total_minutes INTEGER DEFAULT 0,
    total_minutes_per_patient REAL DEFAULT 0.0,
    total_tasks_completed INTEGER DEFAULT 0,
    average_daily_tasks REAL DEFAULT 0.0,
    created_date TEXT DEFAULT CURRENT_TIMESTAMP,
    updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (coordinator_id) REFERENCES coordinators(coordinator_id)
);
CREATE TABLE dashboard_patient_assignment_summary (
    summary_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    patient_id INTEGER NOT NULL,
    patient_name TEXT,
    year INTEGER NOT NULL,
    month INTEGER NOT NULL,
    total_minutes INTEGER NOT NULL,
    billing_code_id INTEGER,
    billing_code TEXT,
    billing_code_description TEXT,
    created_date TEXT DEFAULT CURRENT_TIMESTAMP,
    updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (billing_code_id) REFERENCES coordinator_billing_codes(code_id)
);
CREATE TABLE dashboard_task_summary (
    summary_id INTEGER PRIMARY KEY AUTOINCREMENT,
    task_id INTEGER NOT NULL,
    provider_id INTEGER,
    coordinator_id INTEGER,
    patient_id INTEGER,
    task_date TEXT,
    duration_minutes INTEGER,
    billing_code TEXT,
    status TEXT,
    created_date TEXT DEFAULT CURRENT_TIMESTAMP,
    updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (task_id) REFERENCES tasks(task_id),
    FOREIGN KEY (provider_id) REFERENCES providers(provider_id),
    FOREIGN KEY (coordinator_id) REFERENCES coordinators(coordinator_id),
    FOREIGN KEY (patient_id) REFERENCES patients(patient_id)
);
CREATE TABLE dashboard_region_patient_assignment_summary (
    summary_id INTEGER PRIMARY KEY AUTOINCREMENT,
    region_id INTEGER NOT NULL,
    patient_id INTEGER NOT NULL,
    patient_name TEXT,
    patient_status TEXT,
    created_date TEXT DEFAULT CURRENT_TIMESTAMP,
    updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (region_id) REFERENCES regions(region_id),
    FOREIGN KEY (patient_id) REFERENCES patients(patient_id)
);
CREATE INDEX idx_provider_zip_summary_provider ON provider_zip_summary(provider_id);
CREATE INDEX idx_provider_zip_summary_zip ON provider_zip_summary(zip_code);
CREATE INDEX idx_dashboard_provider_monthly_summary_provider ON dashboard_provider_monthly_summary(provider_id, year, month);
CREATE INDEX idx_dashboard_coordinator_monthly_summary_coordinator ON dashboard_coordinator_monthly_summary(coordinator_id, year, month);
CREATE INDEX idx_dashboard_patient_assignment_summary_user ON dashboard_patient_assignment_summary(user_id);
CREATE INDEX idx_dashboard_task_summary_task ON dashboard_task_summary(task_id);
CREATE INDEX idx_dashboard_task_summary_provider ON dashboard_task_summary(provider_id);
CREATE INDEX idx_dashboard_task_summary_coordinator ON dashboard_task_summary(coordinator_id);
CREATE INDEX idx_dashboard_task_summary_patient ON dashboard_task_summary(patient_id);
CREATE INDEX idx_dashboard_region_patient_assignment_summary_region ON dashboard_region_patient_assignment_summary(region_id);
CREATE INDEX idx_dashboard_region_patient_assignment_summary_patient ON dashboard_region_patient_assignment_summary(patient_id);
CREATE TABLE coordinator_monthly_summary (
    summary_id INTEGER PRIMARY KEY AUTOINCREMENT,
    coordinator_id INTEGER NOT NULL,
    coordinator_name TEXT,
    patient_id TEXT NOT NULL,
    patient_name TEXT,
    year INTEGER NOT NULL,
    month INTEGER NOT NULL,
    total_minutes INTEGER NOT NULL,
    billing_code_id INTEGER,
    billing_code TEXT,
    billing_code_description TEXT,
    created_date TEXT DEFAULT CURRENT_TIMESTAMP,
    updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (billing_code_id) REFERENCES coordinator_billing_codes(code_id)
);
CREATE INDEX idx_coordinator_monthly_summary_coordinator ON coordinator_monthly_summary(coordinator_id, year, month);
CREATE TABLE provider_tasks_summary (summary_id INTEGER PRIMARY KEY, provider_id INTEGER NOT NULL, provider_name TEXT NOT NULL, month INTEGER NOT NULL, year INTEGER NOT NULL, total_tasks_completed INTEGER DEFAULT 0, total_time_spent_minutes INTEGER DEFAULT 0, average_task_completion_time_minutes REAL DEFAULT 0.0, created_date DATETIME DEFAULT CURRENT_TIMESTAMP, updated_date DATETIME DEFAULT CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "provider_region_summary"(
  summary_id INT,
  provider_id INT,
  region_id INT,
  zip_code TEXT,
  city TEXT,
  state TEXT,
  patient_count INT,
  created_date TEXT
);
CREATE TABLE IF NOT EXISTS "patient_region_mapping"(
  mapping_id INT,
  patient_id INT,
  region_id INT,
  zip_code TEXT,
  city TEXT,
  state TEXT,
  created_date TEXT
);
CREATE TABLE IF NOT EXISTS "coordinator_task_definitions" (
	"task_definition_id"	INTEGER,
	"task_category"	TEXT NOT NULL,
	"task_description"	TEXT NOT NULL,
	"created_at"	TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
	"updated_at"	TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY("task_definition_id" AUTOINCREMENT)
);
CREATE TRIGGER trigger_prod_task_definitions_updated_at
AFTER UPDATE ON "coordinator_task_definitions"
FOR EACH ROW
BEGIN
    UPDATE "coordinator_task_definitions"
    SET updated_at = CURRENT_TIMESTAMP
    WHERE task_definition_id = OLD.task_definition_id;
END;
CREATE TABLE provider_tasks_backup(
  provider_task_id INT,
  task_id INT,
  provider_id INT,
  provider_name TEXT,
  patient_name TEXT,
  user_id INT,
  patient_id INT,
  status TEXT,
  notes TEXT,
  minutes_of_service INT,
  billing_code_id INT,
  created_date NUM,
  updated_date NUM,
  task_date NUM,
  month INT,
  year INT,
  billing_code TEXT,
  billing_code_description TEXT
);
CREATE TABLE provider_tasks_restored(
  provider_task_id INT,
  task_id INT,
  provider_id INT,
  provider_name TEXT,
  patient_name TEXT,
  user_id INT,
  patient_id INT,
  status TEXT,
  notes TEXT,
  minutes_of_service INT,
  billing_code_id INT,
  created_date NUM,
  updated_date NUM,
  task_date NUM,
  month INT,
  year INT,
  billing_code TEXT,
  billing_code_description TEXT
);
CREATE TABLE provider_tasks(
  provider_task_id INT,
  task_id INT,
  provider_id INT,
  provider_name TEXT,
  patient_name TEXT,
  user_id INT,
  patient_id INT,
  status TEXT,
  notes TEXT,
  minutes_of_service INT,
  billing_code_id INT,
  created_date NUM,
  updated_date NUM,
  task_date NUM,
  month INT,
  year INT,
  billing_code TEXT,
  billing_code_description TEXT
, task_description TEXT);
CREATE TABLE IF NOT EXISTS "dashboard_provider_county_map" (
        map_id INTEGER PRIMARY KEY AUTOINCREMENT,
        provider_id INTEGER NOT NULL,
        county TEXT NOT NULL,
        state TEXT NOT NULL,
        patient_count INTEGER DEFAULT 0,
        created_date TEXT DEFAULT CURRENT_TIMESTAMP,
        updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (provider_id) REFERENCES "providers"(provider_id)
    );
CREATE TABLE IF NOT EXISTS "dashboard_patient_county_map" (
        map_id INTEGER PRIMARY KEY AUTOINCREMENT,
        patient_id INTEGER NOT NULL,
        county TEXT NOT NULL,
        state TEXT NOT NULL,
        created_date TEXT DEFAULT CURRENT_TIMESTAMP,
        updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (patient_id) REFERENCES "patients"(patient_id)
    );
CREATE TABLE IF NOT EXISTS "dashboard_patient_zip_map" (
        map_id INTEGER PRIMARY KEY AUTOINCREMENT,
        patient_id INTEGER NOT NULL,
        zip_code TEXT NOT NULL,
        city TEXT,
        state TEXT,
        created_date TEXT DEFAULT CURRENT_TIMESTAMP,
        updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (patient_id) REFERENCES "patients"(patient_id)
    );
CREATE TABLE IF NOT EXISTS "dashboard_provider_zip_map" (
        map_id INTEGER PRIMARY KEY AUTOINCREMENT,
        provider_id INTEGER NOT NULL,
        zip_code TEXT NOT NULL,
        city TEXT,
        state TEXT,
        patient_count INTEGER DEFAULT 0,
        created_date TEXT DEFAULT CURRENT_TIMESTAMP,
        updated_date TEXT DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (provider_id) REFERENCES "providers"(provider_id)
    );
CREATE INDEX idx_provider_county_map_provider ON dashboard_provider_county_map(provider_id);
CREATE INDEX idx_provider_county_map_county ON dashboard_provider_county_map(county, state);
CREATE INDEX idx_patient_county_map_patient ON dashboard_patient_county_map(patient_id);
CREATE INDEX idx_patient_county_map_county ON dashboard_patient_county_map(county, state);
CREATE INDEX idx_patient_zip_map_patient ON dashboard_patient_zip_map(patient_id);
CREATE INDEX idx_patient_zip_map_zip ON dashboard_patient_zip_map(zip_code);
CREATE INDEX idx_provider_zip_map_provider ON dashboard_provider_zip_map(provider_id);
CREATE INDEX idx_provider_zip_map_zip ON dashboard_provider_zip_map(zip_code);
CREATE TABLE IF NOT EXISTS "coordinator_tasks" (
    coordinator_task_id INTEGER PRIMARY KEY AUTOINCREMENT,
    task_id INTEGER,
    patient_id TEXT,
    coordinator_id TEXT,
    task_date TEXT,
    duration_minutes INTEGER,
    task_type TEXT,
    notes TEXT
);
CREATE TABLE provider_weekly_summary (    summary_id INTEGER PRIMARY KEY AUTOINCREMENT,    provider_id INTEGER NOT NULL,    provider_name TEXT NOT NULL,    week_start_date TEXT NOT NULL,    week_end_date TEXT NOT NULL,    year INTEGER NOT NULL,    week_number INTEGER NOT NULL,    total_tasks_completed INTEGER DEFAULT 0,    total_time_spent_minutes INTEGER DEFAULT 0,    average_daily_minutes REAL DEFAULT 0.0,    days_active INTEGER DEFAULT 0,    created_date DATETIME DEFAULT CURRENT_TIMESTAMP,    updated_date DATETIME DEFAULT CURRENT_TIMESTAMP, paid BOOLEAN DEFAULT FALSE,    FOREIGN KEY (provider_id) REFERENCES providers(provider_id));
CREATE TABLE IF NOT EXISTS "provider_monthly_summary" (
	"summary_id"	INTEGER,
	"provider_id"	INTEGER NOT NULL,
	"provider_name"	TEXT NOT NULL,
	"month"	INTEGER NOT NULL,
	"year"	INTEGER NOT NULL,
	"total_tasks_completed"	INTEGER DEFAULT 0,
	"total_time_spent_minutes"	INTEGER DEFAULT 0,
	"created_date"	DATETIME DEFAULT CURRENT_TIMESTAMP,
	"updated_date"	DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY("summary_id" AUTOINCREMENT),
	FOREIGN KEY("provider_id") REFERENCES "providers"("provider_id")
);
CREATE TABLE patient_status_types (status_id INTEGER PRIMARY KEY AUTOINCREMENT, status_name TEXT NOT NULL UNIQUE, description TEXT, created_date TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP, updated_date TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "patients" (
	"patient_id"	INT,
	"region_id"	INT,
	"first_name"	TEXT,
	"last_name"	TEXT,
	"date_of_birth"	TEXT,
	"gender"	TEXT,
	"phone_primary"	TEXT,
	"phone_secondary"	TEXT,
	"email"	TEXT,
	"address_street"	TEXT,
	"address_city"	TEXT,
	"address_state"	TEXT,
	"address_zip"	TEXT,
	"emergency_contact_name"	TEXT,
	"emergency_contact_phone"	TEXT,
	"emergency_contact_relationship"	TEXT,
	"insurance_primary"	TEXT,
	"insurance_policy_number"	TEXT,
	"insurance_secondary"	TEXT,
	"medical_record_number"	TEXT,
	"enrollment_date"	TEXT,
	"discharge_date"	TEXT,
	"notes"	TEXT,
	"created_date"	TEXT,
	"updated_date"	TEXT,
	"created_by"	INT,
	"updated_by"	INT,
	"current_facility_id"	INT,
	"hypertension"	INT,
	"mental_health_concerns"	INT,
	"dementia"	INT,
	"last_annual_wellness_visit"	TEXT,
	"last_first_dob"	TEXT,
	"status"	TEXT
);
